
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body{
    min-height: 100vh;
    background: linear-gradient(rgb(255, 155, 155) ,rgb(255, 255, 255) , rgb(255, 255, 174));
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly 30px;
    gap: 40px;
    width: 781.4px;
    height: auto;
    flex-wrap: wrap;
}

.container{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    
;
}
    
.card
{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top: 200px;
    margin-top: 130px;
}

.card:before
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(15deg, #ffdc00  , #ff0058);
    display: block;
    filter: blur(30px);
}

.card::after
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    filter: blur(30px);

}

.card__bg
{
     position: absolute;
     inset: 6px;
     background: rgb(0, 0, 0);
     background: url(sunny.jpg) no-repeat center/cover;
}

img{
    height: 10px;
    width: 10px;
    border-radius: 10px; 
    background-image: url(sunny.jpg);
}
#myu{
    background-color: #ffffff;
    width: 100vh;
    position:absolute ;
    top: 50px;
    font-size: 180px;
}
button:hover{
    background-color: orange;
    border-radius: 3PX;
    height: 30px;
    width: 60PX;
    cursor: pointer;

}
button:active{
    background-color: red;
}